.characterBoard--avatar {
	margin-top: 35px;
	width: 320px;
	height: 240px;
	border-radius: 20px;
}

.characterBoard--editButton {
	position: relative;
	bottom: 48px;
	cursor: pointer;
	outline: none;
	width: 32px;
	height: 32px;
};

.characterBoard--placeholderLink {
	width: 200px;
	height: 200px;
	margin-top: 50px;
};