// set up sticky footer
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
	flex: 1 0 auto;
}

// color definitions
$kaleid-main: #523D66;
$kaleid-air: #E5CC50;
$kaleid-fire: #E55050;
$kaleid-earth: #5EA63A;
$kaleid-water: #3AA6A6;

// text classes:
.air-text {
	color: $kaleid-air;
}
.fire-text {
	color: $kaleid-fire;
}
.earth-text {
	color: $kaleid-earth;
}
.water-text {
	color: $kaleid-water;
}

// custom button colors
.waves-effect.waves-air {
	background-color: #E7CE50;
}

.waves-effect.waves-fire {
	background-color: #E55050;
}

.waves-effect.waves-earth {
	background-color: #5EA739;
}

.waves-effect.waves-water {
	background-color: #3CA6A7;
}

// materialize setup
@import "{poetic:materialize-scss}/sass/components/_color.scss";

// set default colors for materialize ui
$primary-color: $kaleid-main;
$secondary-color: $kaleid-main;
$link-color: $kaleid-main;

@import "{poetic:materialize-scss}/sass/materialize.scss";

// import modules
@import "characterBoard";
@import "glossary";
@import "glossaryEntry";
@import "navbar";
@import "intro";

// common stylings
.general--largeCard {
	background-color: $kaleid-main;
	border-radius: 0 0 20px 20px;
	margin-top: 0;
}