// set up sticky footer
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
	flex: 1 0 auto;
}

// color definitions
$kaleid-main: #523D66;
$kaleid-air: #E5CC50;
$kaleid-fire: #E55050;
$kaleid-earth: #5EA63A;
$kaleid-water: #3AA6A6;

// materialize setup
@import "{poetic:materialize-scss}/sass/components/_color.scss";

// set default colors for materialize ui
$primary-color: $kaleid-main;
$secondary-color: $kaleid-main;
$link-color: $kaleid-main;

@import "{poetic:materialize-scss}/sass/materialize.scss";

// import modules
@import "_characterBoard";
@import "_glossary";
@import "_glossaryEntry";
@import "_navbar";
